<!doctype html>
<html>
<head>

<meta charset="UTF-8">
<title>Resume Ranking</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
<script src="{{ url_for('static', filename='js/custome.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custome1.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
<script src="{{ url_for('static', filename='js/function.js') }}"></script>
<script>
      $(document).on("click", ".browse", function() {
  var file = $(this)
    .parent()
    .parent()
    .parent()
    .find(".file");
  file.trigger("click");
});
$(document).on("change", ".file", function() {
  $(this)
    .parent()
    .find(".form-control")
    .val(
      $(this)
        .val()
        .replace(/C:\\fakepath\\/i, "")
    );
});
   
$(document).on('ready', function(){
  $('#customerfile').on('change', function(){
      $('#resumeForm').submit();
  });
});

function moveBack(){
window.location.href="/";
}
    </script>

<style>
.container {
    max-width: 750px !important;
    margin-top: 50px;
    margin-bottom: 50px;
	}
	
table th{
font-weight: bold !important;
}
	
</style>
</head>

<body translate="no">

<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color nav-style">
  <a class="navbar-brand" href="/">
    <img width="50px" src="{{ url_for('static', filename='logo.png') }}" class="d-inline-block align-top"
      alt="mdb logo"> King County Farms
  </a>
</nav>
<div id="wrap">
	<header>
		<div class="inner relative">
			<nav id="navigation">
				<ul id="main-menu">
					<li class="parent"><a href="/">Home</a></li>
					<li class="parent"><a href="{{ url_for('uploadjdDesc') }}">Classification</a></li>
					<li class="current-menu-item">
						<a href="{{ url_for('uploadResume') }}">Resumes</a>
					</li>
					<li><a href="{{ url_for('login') }}">Logout</a></li>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>
	</header>	
</div>
	
	<div class="container">
	<form id="resumeForm" role="form" method='POST' action="/upload" enctype="multipart/form-data">
		<div class="form-group">
		<h4 style="color:black;text-align: -webkit-center;font-weight:bold;">Resume scruitny system</h4>
			<input required type="file" multiple accept=".docx,.pdf,.rtf,.txt" class="file" name="customerfile" id="customerfile">
			<div class="input-group mb-3">
				<a class="btn-floating btn-lg amber darken-2 mt-0 float-left waves-effect waves-light browse">
						<i class="fas fa-cloud-upload-alt"></i>
					</a>
				<input style="margin-top:12px;" required type="text" class="form-control" disabled=""
					placeholder="Upload one or more Resume" aria-label="Upload File"
					aria-describedby="basic-addon1" >
			</div>
		</div>
	</form>
	<div style="margin-left:80px;" class="form-group">
	<table class="table-hover">
	<thead>
			  <tr style="text-align: left;">
    			  <th>S.No.</th>
    			  <th>File Name</th>	  
			  </tr>
			</thead>
			{% for r in name :%}
				<tbody>
				
			  		<tr style="text-align: left;">
						<td style="width: 70px;">{{ loop.index0+1 }}</td>
						<td style="width: 370px;"><a href="{{url_for('custom_static', filename=r)}}">{{r}}</a><br></td>
						<td><a title="Delete" href="{{ url_for('deleteResume',file_name=r) }}"> <i class="fas fa-trash-alt"></i></a></td>
				
			  		</tr>
				</tbody>
			{% endfor %}
		</table>				
		</div>
		
	</div>
   
</body>
</html>